body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

.portrait {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #000;
}

.portrait__text {
	font-size: 10px;
	line-height: 10px;
	background: url(../img/easteregg.jpg) no-repeat center center / cover;
	text-align: justify;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0.1);
}