/* Спецификация */

body {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	background: #000;
}

.container {
	width: 80%;
	margin: 0 auto;
}

ul, li {
	padding: 0;
	margin: 0;
	display: block;
}

a {
	text-decoration: none;
}

.character__link {
	cursor: default;
}

/* Экран */

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
}

.logo img {
	width: 300px;
}

.menu__item {
	display: flex;
	justify-content: center;
	align-items: center;
} 

.menu__item a {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 11px 0;
	display: block;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	transition: all 0.3s ease;
	margin-bottom: 30px;
}

.menu__item a:hover {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

.character__title {
	letter-spacing: 3px;
	text-transform: uppercase;
}

.character__text {
	line-height: 1.6em;
	font-size: 17px;
	text-align: justify;
}

.character__text:first-letter{
	font-family: Impact;
	font-size: 200%;
	color: #34495e;
	padding-right: 3px;
}

.character__img {
	float: left;
	display: block;
	width: 450px;
}



